<div class="flip">
  <h1>Feature Flippers</h1>

  <table>
    <thead>
      <th class="name">Name</th>
      <th class="description">Description</th>
      <th class="status">Status</th>
      <% @p.strategies.each do |strategy| %>
        <th>
          <%= strategy.name.titleize %>

        </th>
      <% end %>
      <th>
        Default
        <span class="description">The system default when no strategies match.</span>
      </th>
    </thead>
    <tbody>
    <% @p.definitions.each do |definition| %>
      <tr>
        <td class="name"><%= definition.name %></td>

        <td class="description"><%= definition.description %></td>

        <%= content_tag :td, class: @p.status(definition) do %>
          <span><%= @p.status definition %></span>
        <% end %>

        <% @p.strategies.each do |strategy| %>
          <%= content_tag :td, class: @p.strategy_status(strategy, definition) || "pass" do %>
            <span><%= @p.strategy_status strategy, definition %></span>

            <% if strategy.switchable? %>
              <%= form_tag(@p.switch_url(strategy, definition), method: :patch) do %>
                <% unless @p.strategy_status(strategy, definition) == "on" %>
                  <%= button_tag "Switch On", name: 'commit', value: 'Switch On' %>
                <% end %>
                <% unless @p.strategy_status(strategy, definition) == "off" %>
                  <%= button_tag "Switch Off", name: 'commit', value: 'Switch Off' %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <%= content_tag :td, class: @p.default_status(definition) do %>
          <%= @p.default_status definition %>
        <% end %>

      </tr>
    <% end %>
    </tbody>
  </table>
</div>
